
/* custom css fonts */
/* hind madurai font */
.hind-madurai-font {
  font-family: "Hind Madurai", sans-serif;
 
}

/* inter font */

.inter-font {
  font-family: "Inter", sans-serif;
  
}

/* roboto font */


.roboto-font {
  font-family: "Roboto", sans-serif;
  
}